{%extends 'base.html' %}
{% block content %}
<div>
    <h1 class="text-center">Gallery Gala</h1>
    <h4 class="text-center lead">Welcome to Gallery Gala Where Gallery Meets Gala</h4>
    <a href="#b"><button>Browse</button></a>
</div>
<div id="b">
    <div>
        <div>
            <h3>Gallery</h3>
        </div>
        <div>
            <span id="locations">
                {%for location in locations%}
                    <a href="/location/{{location.name}}">{{location.name}}</a>
                {%endfor%}
            </span>
        </div>
    </div>
    <hr>
    <div>
        {%for image in images %}
        <div class="card" data-toggle="modal" data-target="#{{image.id}}">
            <img src="{{image.image.url}}" alt="image.name" class="card">
        </div>
        <div id="{{image.id}}" tabindex="-1" role="dialog">
        <div>
           <div>
               <div>
                   <h5 id="imageheader">{{image.name}}</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>
               <div>
                   <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid">
                   <p >{{image.description}}</p>
                   <span >{{image.category}}</span> <a
                       href="/location/{{image.location}}" class="btn btn-sm btn-outline-info">{{image.location}}</a>
               </div>
               <div>
                   <input type="text"
                          value="{{image.image.url}}" id="{{image.id}}.url">
                   <button class="btn btn-success btn-sm" onclick="copyLink('{{image.id}}.url')">Copy</button>
                   <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                   </button>
               </div>
           </div>
        </div>
       {%endfor%}

    </div>
    </div>

</div>


{%endblock%}